body {
    background: #a64da6;
}

#body {
    background: purple;
    height: auto;
    width: auto;
    padding-top: 16px;
}

#header {
    background: purple;
    height: 125px;
    width: auto;
}

#logo {
    color: #fff;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24pt;
    font-weight: 700;
    padding-left: 25px;
    padding-top: 25px;
}

#nav {
    list-style: none;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    z-index: 5;
}

#nav li {
    float: left;
    margin-right: 10px;
    position: relative;
}

#nav a {
    display: block;
    padding: 5px;
    color: #fff;
    background: #a64da6;
    text-decoration: none;
}

#nav a:hover {
    color: #fff;
    background: #a64da6;
    text-decoration: underline;
}

#nav ul {
    background: #fff;
    background: rgba(255,255,255,0);
    list-style: none;
    position: absolute;
    left: -9999px;
}

#nav ul li {
    padding-top: 1px;
    float: none;
}

#nav ul a {
    white-space: nowrap;
}

#nav li:hover ul {
    left: 0;
}

#nav li:hover a {
    background: #a64da6;
    text-decoration: underline;
    border: 1px solid black;
}

#nav li:hover ul a {
    text-decoration: none;
}

#nav li:hover ul li a:hover {
    background: #a64da6;
}
